.burger-input {
  position: absolute;
  opacity: 0;
}

.burger-lines {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: $active-color;
}

.burger-line {
  &,
  &::before,
  &::after {
    width: 23px;
    height: 1px;
    background-color: $main-background-color;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    transition-duration: .3s;
  }

  &::before {
    transform: translateY(-6px);
  }

  &::after {
    transform: translateY(6px);
  }
}

.burger-input:checked {
  ~ .burger-lines{
    background-color: transparent;
  }
  ~ .burger-lines > .burger-line,
  ~ .burger-lines > .burger-line::before,
  ~ .burger-lines > .burger-line::after {
    background-color: rgba($main-color, .8);
  }

  ~ .burger-lines > .burger-line {
    height: 0;
  }

  ~ .burger-lines > .burger-line::before,
  ~ .burger-lines > .burger-line::after {
    width: 30px;
  }

  ~ .burger-lines > .burger-line::before {
    transform: rotate(45deg);
  }

  ~ .burger-lines > .burger-line::after {
    transform: rotate(-45deg);
  }
}

.burger-input:active ~ .burger-lines,
.burger-input:focus ~ .burger-lines {
  opacity: 0.8;
}
