$tablet-width: 768px;
$desktop-width: 1200px;

$text-color: black;
$text-alt-color: pink;
$text-active-color: red;
$text-active-hover-color: blue;
$background-color: gray;
$border-color: yellow;
$background-color-darken: rgba(65, 57, 57, 0.096);