.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 728px;
  min-height: 444px;
  max-height: 90vh;
  margin: 10px 10px 0 10px;
  padding: 0;
  box-sizing: border-box;
  background-color: $main-background-color;
  @include shadow;
  overflow-y: scroll;
  color: $popup-color;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &.close {
    display: none;
  }
}

.form__close {
  position: absolute;
  top: 7px;
  right: 7px;
}

.form__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;

  &.close{
    display: none;
  }
}

.form__img {
  display: block;
  grid-row: 1/-1;
  grid-column: 1/2;
  width: 100%;
}

.form__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.form__title {
  font-family: "Montserrat-semibold", "Arial", sans-serif;
  font-size: 1.56rem;
  line-height: 2.6rem;
  margin: 0 0 50px 0;
  text-align: center;
}

.form__description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  font-size: 1.56rem;
  line-height: 2rem;
  margin: 0;
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  input {
    padding: 15px;
    border: 1px solid rgba($main-color, .3);
    background-color: $main-background-color;
    color: $main-color;
    cursor: pointer;
    font-size: .875rem;
    line-height: 1.125rem;

    &::placeholder {
      color: $main-color;
      opacity: 1;
    }

    &:hover,
    &:focus {
      border-color: $main-color;
    }
  }

  &.error {
    position: relative;

    &:before {
      content: "Данные не верны";
      position: absolute;
      width: 100%;
      height: auto;
      bottom: 100%;
      left: 0;
      font-size: .75rem;
      line-height: 1rem;
      color: $active-color;
      box-sizing: border-box;
    }

    input {
      border-color: $active-color;
    }
  }
}

.form__field--asterisk {
  position:relative;

  input {
    padding-left: 26px;
  }

  &:before {
    content: "*";
    position: absolute;
    color: $active-color;
    font-size: 1rem;
    line-height: 1.25rem;
    top: 6px;
    left: 15px;
  }
}

.form__button {
  padding: 18px 40px;
  width: max-content;
  align-self: center;
  min-width: 176px;
}