.main-title {
  font-family: "Montserrat-SemiBold", "Arial", sans-serif;
  font-size: 3.93rem;
  line-height: 5.7rem;
  color: $sub-dark-color;
  margin: 0;

  @media (max-width: $tablet-width) {
    font-size: 2.14rem;
    line-height: 2.57rem;
  }

  @media (max-width: $mobile-width) {
    font-size: 1.7rem;
    line-height: 3rem;
  }
}

.main-title--underline {
  padding-bottom: 30px;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 65%;
    height: 4px;
    background-color: $active-color;
  }
}