.tariff {
  display: flex;
  flex-direction: column;
  border: 1px solid $strong-opacity-sub-dark;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 40px 30px 30px 30px;
  font-family: "Montserrat-Regular", "Arial", sans-serif;

  &:hover {
    border-color: $active-color;
    transition: all .3s ease;

    .tariff__title {
      color: $active-color;
      transition: all .3s ease;
    }

    .tariff__component svg {
      fill: inherit;
      transition: all .5s ease;
    }
  }
}

.tariff__title {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat-SemiBold", "Arial", sans-serif;
  font-size: 1.75rem;
  line-height: 2.375rem;
  margin: 0 0 36px 0;
}

.tariff__description {
  padding-bottom: 28px;
  margin: 0 0 30px 0;
  border-bottom: 1px solid $strong-opacity-sub-dark;
}

.tariff__list {
  @include drop__list-style;
  margin-bottom: 30px;
}

.tariff__component {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 14px 1fr;
  gap: 0 16px;

  &:last-child {
    margin-bottom: 0;
  }

  svg {
    padding-top: 8px;
    fill: $active-color;
  }
}

.tariff__button {
  margin-top: auto;
}