.wrapper-bg {
  display: block;
  background-image: url("/img/svg/background.svg");
  background-position: top 130px center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  margin-bottom: 145px;

  @media (max-width: $tablet-width) {
    min-height: auto;
    background: none;
    margin-bottom: 110px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 50px;
  }
}